@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body,
html {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  font-family: Rubik;
  justify-content: center;
}
#mapid {
  position: relative;
  height: 62.5vh;
  width: auto;
  min-width: 100vh;
}

.center-div {
  position: absolute;
  top: 185px;
  display: inline-block;
  background-color: white;
  height: auto;
  min-height: 100px;
  width: 73%;
  border-radius: 15px;
  margin-left: 14%;
  box-shadow: rgba(187, 187, 196, 0.25) 0px 13px 27px -5px,
    rgba(59, 58, 58, 0.3) 0px 8px 16px -8px;
  z-index: 10000;
  padding-bottom: 20px;
}

.leaflet-control-zoom {
  display: none;
}

.top-div {
  margin: 0px;
  height: 250px;
  background-image: url("images/pattern-bg.png");
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.heading {
  color: white;
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
}

input[type="text"] {
  height: 40px;
  width: 30%;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0px;
  margin: 0px;
  margin-top: 3px;
  padding: 70px auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="text"]::placeholder {
  font-size: 15px;
  font-weight: 500;
}

button {
  height: 43px;
  width: 40px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0px;
  margin: 0px;
  background-color: hsl(0, 0%, 17%);
  margin-left: -5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.result-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
  padding-top: 10px;
  width: 95%;
}

.stats {
  height: auto;
  min-height: 80px;
  word-break: break-all;
  font-size: 15px;
  font-weight: 500;
  color: hsl(0, 0%, 59%);
  padding: 25px auto;
  width: 200px;
  border-right: 2px solid hsl(0, 0%, 59%);
  margin-left: 20px;
}

.stats:nth-of-type(4) {
  border-right: 0px solid hsl(0, 0%, 59%);
}

.stats:nth-of-type(1) {
  margin-left: 10px;
  padding-left: 20px;
}

.stats p {
  padding: 50px auto;
}

.stats span {
  padding-top: 10px;
  font-weight: 700;
  font-size: 20px;
  word-break: break-all;
  color: hsl(0, 0%, 17%);
  display: block;
  padding-right: 30px;
}

@media screen and (max-width: 965px) {
  .center-div {
    position: absolute;
    top: 160px;
    height: auto;
    min-height: 150px;
    width: 68%;
  }
}

@media screen and (max-width: 885px) {
  .center-div {
    position: absolute;
    top: 160px;
    height: auto;
    margin-left: 17%;
    min-height: 180px;
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .center-div {
    position: absolute;
    top: 150px;
    height: auto;
    margin-left: 18%;
    min-height: 200px;
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .center-div {
    margin-top: 20px;
    position: absolute;
    top: 150px;
    height: auto;
    margin-left: 18%;
    min-height: 200px;
    width: 60%;
    align-items: center;
  }

  .result-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    width: 85%;
    padding-top: 10px;
    width: 95%;
    align-items: center;
  }

  .stats {
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    color: hsl(0, 0%, 59%);
    display: inline-block;
    width: 250px;
    border: 0px solid hsl(0, 0%, 59%);
    text-align: center;
  }
  .stats:nth-of-type(1) {
    padding-left: 10px;
  }
  .stats:nth-of-type(4) {
    border-right: 0px solid hsl(0, 0%, 59%);
  }
  .stats span {
    padding-left: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .center-div {
    margin-top: 20px;
    position: absolute;
    top: 150px;
    height: auto;
    margin-left: 18%;
    min-height: 240px;
    width: 60%;
    align-items: center;
    word-break: break-all;
  }
  input[type="text"] {
    height: 40px;
    width: 52%;
  }
  .stats {
    height: auto;
    min-height: 65px;
    word-break: break-all;
    width: 80%;
  }

  .stats span {
    word-break: break-all;
  }
}

@media screen and (max-width: 271px) {
  .center-div {
    margin-top: 50px;
  }
}
